<mat-toolbar id="toolBar">
    <span><img src="/assets/images/miles-logo-small-white.png" height=40 width=50></span>
    <a mat-button><span class="fa fa-home fa-lg"></span> Home</a>
</mat-toolbar>
  
<div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
    <h2>Miles Challenge</h2>
    <h5>Gabriel Solomon</h5>
</div>
