/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

$lt-gray: #ddd;
$background-dark: rgb(45, 168, 55);
$background-light: rgb(117, 205, 129);
$background-pale: rgb(241, 224, 197);
$primary-color-dark:   rgb(17, 75, 12);
$primary-color:        rgb(30, 116, 52);
$primary-color-light:  rgb(238, 192, 123);
$primary-color-text:   rgb(231, 220, 170);
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;



// some basic presets and mixins 

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}