<div class="controls">

  <span *ngIf="undoButtonEnable; else elseBlockUndo">
      <button class="controlButton" (click)="undoButton($event)"><i class="fa fa-undo fa-lg"></i> Undo</button>
  </span>
  <ng-template #elseBlockUndo>
      <button class="controlButton" disabled><i class="fa fa-undo fa-lg"></i> Undo</button>
  </ng-template>

  <span *ngIf="redoButtonEnable; else elseBlockRedo">
    <button class="controlButton" (click)="redoButton($event)"><i class="fa fa-repeat fa-lg"></i> Redo</button>
  </span>
  <ng-template #elseBlockRedo>
    <button class="controlButton" disabled><i class="fa fa-repeat fa-lg"></i> Redo</button>
  </ng-template>
  
</div>

<div id="headerDiv">
  <div class="reward-header-container"><h2>Rewards</h2></div>
  <div class="category-header-container"><h2>Categories</h2></div>
</div>

<div cdkDropListGroup>
  <div class="reward-container" *ngFor="let category of categoryList; let i=index">
  
    <!-- display header for each column -->
    <div *ngIf="(i==0); else elseBlock"><h2>&nbsp;</h2></div>
    <ng-template #elseBlock><span id="categoryTitle"><h2>{{category.title}}</h2></span></ng-template>
    
    <!-- draggable items -->
    <div
      class="category-list"
      cdkDropList
      [id]="category.id"
      #categoryDropZone="cdkDropList"
      [cdkDropListData]="category.rewardList"
      (cdkDropListDropped)="dropReward($event)">
      <!-- loop through each column -->
      <mat-card class="reward-card" *ngFor="let reward of categoryList[i].rewardList; let j=index" cdkDrag>
        <mat-card-actions class="reward-card-actions">
          <button mat-button class="close-button" *ngIf="(i!=0); else elseBlock" (click)="closeReward($event, i, j)">
            <span class="fa fa-window-close fa-lg"></span>
          </button>
          <ng-template #elseBlock><button mat-button class="close-button-disabled" disabled></button></ng-template>
       </mat-card-actions>
        <mat-card-title>{{reward.title}}</mat-card-title>
      </mat-card>
  </div>

  </div>
</div>

<!-- debug
<pre>catagoryList = {{categoryList | json}}</pre>
--->


