
$lt-gray: #ddd;
$background-dark: rgb(45, 168, 55);
$background-light: rgb(117, 205, 129);
$background-pale: rgb(241, 224, 197);
$primary-color-dark:   rgb(17, 75, 12);
$primary-color:        rgb(30, 116, 52);
$primary-color-light:  rgb(238, 192, 123);



.controls {
  background: $primary-color-light;
  padding: 10px;
}

.controlButton {
  margin: 0px 10px;
  padding: 5px 20px;
}

#headerDiv {
  height: 40px;
}

#categoryTitle {
  text-align: center;
}

.reward-header-container {
  width: 100px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0px auto;
  padding: 0px 10px;

}

.category-header-container {
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.reward-container {
  width: 100px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.category-container {
  width: 80px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.reward-card {
  background: $background-light;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
}

.reward-card-actions {
  justify-content: right;
  align-items: right;
  text-align: right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.close-button {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  color:floralwhite;
  // border: 2px solid $lt-gray;
}

.close-button-disabled {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  z-index: -1;
}


.reward-box {
  width: 65px;
  height: 65px;
  border: solid 2px $background-light;
  cursor: move;
  background: $lt-gray;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  margin-right: 25px;
}

.category-list {
  border: solid 1px $background-light;
  min-height: 450px;
  background: $lt-gray;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}





  