<div>
  <div class="reward-header-container"><h2>Rewards</h2></div>
  <div class="category-header-container"><h2>Categories</h2></div>
</div>

<div class="reward-container">
    <h2>Rewards</h2>
  
    <div
      cdkDropList
      #rewardDropZone="cdkDropList"
      [cdkDropListData]="rewardList"
      [cdkDropListConnectedTo]="[categoryDropZone]"
      class="category-list"
      (cdkDropListDropped)="drop($event)">
      <div class="reward-box" *ngFor="let reward of rewardList; let i=index" cdkDrag>{{reward.title}}</div>
    </div>
  </div>
  
  <div class="category-container" *ngFor="let category of categoryList; let i=index">
    <h2>{{category.title}}</h2>
  
    <div
      cdkDropList
      #categoryDropZone="cdkDropList"
      [cdkDropListData]="categoryList"
      [cdkDropListConnectedTo]="[rewardDropZone]"
      class="category-list"
      (cdkDropListDropped)="drop($event)">
      <div class="reward-box" *ngFor="let item of categoryList; let i=index" cdkDrag>{{item.title}}</div>
    </div>
  </div>


  <pre>{{rewardList | json}}</pre>
