<div>
  <div class="reward-header-container"><h2>Rewards</h2></div>
  <div class="category-header-container"><h2>Categories</h2></div>
</div>

<div class="reward-container">
    <h2>Rewards</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="reward-box" *ngFor="let item of categoryList; let i=index" cdkDrag>{{item.title}}</div>
    </div>
  </div>
  
  <div class="category-container" *ngFor="let item of categoryList; let i=index">
    <h2>{{item.title}}</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="reward-box" *ngFor="let item of categoryList; let i=index" cdkDrag>{{item.title}}</div>
    </div>
  </div>